In [80]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [81]:
engine = create_engine('postgresql://postgres:postgres@localhost:5433/ny_taxi')

In [82]:
print(engine.connect())

<sqlalchemy.engine.base.Connection object at 0x141850850>

In [83]:
filename = 'green_tripdata_2019-10.csv'
zonefilename = 'taxi_zone_lookup.csv'

In [84]:
df = pd.read_csv(filename, index_col=0)
dfzone = pd.read_csv(zonefilename, index_col=0)
print(len(df))

476386

/var/folders/59/vh8bfx9s1k51rfb63hn7plr00000gn/T/ipykernel_79687/145678040.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, index_col=0)

In [85]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [86]:
print(pd.io.sql.get_schema(dfzone, name='zone', con=engine))

CREATE TABLE zone (
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [87]:
df_iter = pd.read_csv(filename, iterator=True, chunksize = 100000, index_col=0)

In [88]:
df = next(df_iter)

In [89]:
len(df)

100000

In [90]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')
dfzone.head(n=0).to_sql(name='zone', con=engine, if_exists='replace')

0

In [91]:
dfzone.to_sql('zone', con=engine, if_exists='append')

265

In [92]:
#df.to_sql(name='green_taxi_data', con=engine, if_exists='append')
while True:
    t_start = time()
    df = next(df_iter)
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')
    
    t_end = time()
    
    print('chunk inserted, took %.3f second' % (t_end - t_start))

chunk inserted, took 8.212 second
chunk inserted, took 8.216 second

/var/folders/59/vh8bfx9s1k51rfb63hn7plr00000gn/T/ipykernel_79687/1213580828.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

chunk inserted, took 8.168 second
chunk inserted, took 5.321 second

StopIteration: